<div class="ads">
  <img src="https://sdmntpritalynorth.oaiusercontent.com/files/00000000-f9ac-6246-949b-8f6ed5b33262/raw?se=2025-06-29T06%3A40%3A44Z&sp=r&sv=2024-08-04&sr=b&scid=3e914441-5246-59ff-977c-a5eee1f8e77e&skoid=0da8417a-a4c3-4a19-9b05-b82cee9d8868&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-06-28T19%3A34%3A27Z&ske=2025-06-29T19%3A34%3A27Z&sks=b&skv=2024-08-04&sig=kkRGgArrgydwFmk25Y9Tu2qoHAm0QAiCkRPr5XjhP1s%3D" >
  <div class="container" style="background-color: #ffffff62;">
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="center">
        <form [formGroup]="formLog" action="/action_page.php" method="post">
          <div class="imgcontainer cent">
            <img src="https://cdn-icons-png.flaticon.com/512/1903/1903162.png" alt="Avatar" class="avatar">
          </div>
          <h2>S.E.D</h2>
          <div class="input-container">
            <label for="uname"><b>Usuario</b></label>
            <input type="text" formControlName="email" placeholder="Ingresa el correo electronico" name="uname" required>
          </div>
          <div class="input-container">
            <label for="psw"><b>Contraseña</b></label>
            <input type="password" formControlName="password" placeholder="Ingresa la contraseña" name="psw" required>
          </div>
          <div class="button-container">
            <button type="submit" style="background-color: #f44336;" (click)="onSubmit()">Ingresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  