<title>Gobernación del Magdalena</title>

<body>

  <div *ngIf="!accesoPermitido" class="bloqueo">
    <div class="bloqueo-card">
      <h3>🔒 Acceso restringido</h3>
      <input 
        type="password" 
        [(ngModel)]="claveIngresada" 
        placeholder="Clave alfanumérica"
        class="input-clave"
      >
      <button (click)="verificarClave()" class="btn-verificar">Verificar</button>
      <p *ngIf="errorClave" class="error">Clave incorrecta</p>
    </div>
  </div>
  
 <div *ngIf="accesoPermitido" class="page-wrapper">

    <div class="page-wrapper">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="d-flex justify-content-start align-items-center">
            <img src="https://cdn-icons-png.flaticon.com/512/1903/1903162.png" alt="logo" />
          </div>
          <strong class="navbar-brand mx-auto ">Modulo Rectores</strong>
        </div>
      </nav>
    

      <div class="main-content container-fluid d-flex flex-column justify-content-center align-items-center flex-grow-1" style="padding: 20px;">
        <img src="assets/logosed.png" alt="Logo Secretaría de Educación Departamental del Magdalena" class="logo-img mb-2">
      <div class="inputs-container">
        <div class="card">
            <form [formGroup]="myForm" >
    

      <div *ngIf="step === 1" class="row">
        <div>
          
          <h3 class="d-flex justify-content-center align-items-center">
            DATOS PROFESOR INCAPACITADO
          </h3>
        </div>

            
    <div class="col-12 col-sm-6 col-md-4 my-1">
      <b class="form-group-label">TIPO DE TRAMITE</b>
      <select formControlName="tipoTramiteDocente" placeholder="Seleccione una opción" class="form-control"
        id="exampleFormControlInput8">
        <option value="" disabled selected>Seleccione una opción</option>
        <option value="Primera vez">Primera vez</option>
        <option value="Prorroga">Prorroga</option>
      </select>
    </div>

        <div class="col-12 col-sm-6 col-md-4 my-1">
          <b class="form-group-label">MUNICIPIO</b>
          <select formControlName="municipio" placeholder="Seleccione una opción" class="form-control"
            id="exampleFormControlInput15">
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="Algarrobo">Algarrobo</option>
            <option value="Aracataca">Aracataca</option>
            <option value="Ariguaní">Ariguaní</option>
            <option value="Cerro de San Antonio">Cerro de San Antonio</option>
            <option value="Chivolo">Chivolo</option>
            <option value="Ciénaga">Ciénaga</option>
            <option value="Concordia">Concordia</option>
            <option value="El Banco">El Banco</option>
            <option value="El Piñón">El Piñón</option>
            <option value="El Retén">El Retén</option>
            <option value="Fundación">Fundación</option>
            <option value="Guamal">Guamal</option>
            <option value="Nueva Granada">Nueva Granada</option>
            <option value="Pedraza">Pedraza</option>
            <option value="Pijiño del Carmen">Pijiño del Carmen</option>
            <option value="Pivijay">Pivijay</option>
            <option value="Plato">Plato</option>
            <option value="Pueblo Viejo">Pueblo Viejo</option>
            <option value="Remolino">Remolino</option>
            <option value="Sabanas de San Ángel">Sabanas de San Ángel</option>
            <option value="Salamina">Salamina</option>
            <option value="San Sebastián de Buenavista">San Sebastián de Buenavista</option>
            <option value="San Zenón">San Zenón</option>
            <option value="Santa Ana">Santa Ana</option>
            <option value="Santa Bárbara de Pinto">Santa Bárbara de Pinto</option>
            <option value="Santa Marta">Santa Marta</option>
            <option value="Sitionuevo">Sitionuevo</option>
            <option value="Tenerife">Tenerife</option>
            <option value="Zapayán">Zapayán</option>
            <option value="Zona Bananera">Zona Bananera</option>
          </select>
        </div>

        <div class="col-12 col-sm-6 col-md-4 ">
          <b class="form-group-label">INSTITUCION EDUCATIVA</b>
          <input class="form-control" formControlName="ied" type="text">
        </div>

        <div class="col-12 col-sm-6 col-md-4 my-1">
          <b class="form-group-label">NOMBRE</b>
          <input class="form-control" formControlName="nombreDocente" type="text">
        </div>

        <div class="col-12 col-sm-6 col-md-4 ">
          <b class="form-group-label">CEDULA </b>
          <input class="form-control" formControlName="cedulaDocente" type="number">
        </div>

        <div class="col-12 col-sm-6 col-md-4 my-1">
          <b class="form-group-label">AREA EDUCATIVA DOCENTE INCAPACITADO</b>
          <select formControlName="areaEducativa" placeholder="Seleccione una opción" class="form-control"
          id="exampleFormControlInput1">
          <option value="" disabled selected>Seleccione una opción</option>
          <option value="Docente de Prescolar">Docente de Prescolar</option>
          <option value="Docente de Primaria">Docente de Primaria</option>
          <option value="Docente de Matematica">Docente de Matematicas</option> 
          <option value="Docente de ciencias Sociales, Historia, Geografia, Constitucion politica y democracia">Docente de ciencias Sociales, Historia, Geografia, Constitucion politica y democracia</option>
          <option value="Docente de humanidades y lengua castellana">Docente de humanidades y lengua castellana</option> 
          <option value="Docente de ciencias naturales y educacion ambiental">Docente de ciencias naturales y educacion ambiental</option> 
          <option value="Docente de ciencias naturales - quimica">Docente de ciencias naturales - quimica</option> 
          <option value="Docente de ciencias naturales - fisica">Docente de ciencias naturales - fisica</option> 
          <option value="Docente de tecnologia e informatica">Docente de tecnologia e informatica</option> 
          <option value="Docente de Idioma extranjero ingles">Docente de idioma extranjero - ingles</option> 
          <option value="Docente en educacion religiosa">Docente en educacion religiosa</option> 
          <option value="Docente en educacion artistica - danzas">Docente en educacion artistica - danzas</option> 
          <option value="Docente en educacion artistica - artes plasticas">Docente en educacion artistica - artes plasticas</option> artes plasticas
          <option value="Docente en educacion artistica - artes escenicas">Docente en educacion artistica - artes escenicas</option> 
          <option value="Docente en educacion artistica - musica">Docente en educacion artistica - musica</option> 
          <option value="Docente en educacion fisica, recreacion y deporte">Docente en educacion fisica, recreacion y deporte</option> 
          <option value="Docente en educacion etica y valores humanos">Docente en educacion etica y valores humanos</option> 
          <option value="Docente de ciencias economicas y politicas">Docente de ciencias economicas y politicas</option> 
          <option value="Docente de filosofia">Docente de filosofia</option> 
        </select>   
               
      </div>

      <div class="col-12 col-sm-6 col-md-4 my-1">
        <b class="form-group-label">NUMERO DE INCAPACIDAD</b>
        <input class="form-control" formControlName="numeroIncapacidad" type="text">
      </div>

      <div class="col-12 col-sm-6 col-md-4 my-1">
        <b class="form-group-label">TIPO DE VINCULACION</b>
        <select formControlName="tipoVinculacion" placeholder="Seleccione una opción" class="form-control"
          id="exampleFormControlInput2">
          <option value="" disabled selected>Seleccione una opción</option>
          <option value="Vacancia temporal">Vacancia temporal</option>
          <option value="Vacancia definitiva">Vacancia definitiva</option>
          <option value="En propiedad">En propiedad</option>
        </select>
      </div>

      <div class="col-12 col-sm-6 col-md-4 my-1">
        <b class="form-group-label">CARGO</b>
        <select formControlName="cargo" placeholder="Seleccione una opción" class="form-control"
          id="exampleFormControlInput3">
          <option value="" disabled selected>Seleccione una opción</option>
          <option value="Docente de area">Docente de area</option>
          <option value="Docente orientador">Docente orientador</option>
          <option value="Directivo docente - Rector">Directivo docente - Rector</option>
          <option value="Directivo docente - Coordinaro">Directivo docente - Coordinador</option>
          <option value="Directivo docente - Director rural">Directivo docente - Director rural</option>
        </select>
      </div>

      <div class="col-12 col-sm-6 col-md-4 my-1">
        <b class="form-group-label">TIPO DE INCAPACIDAD</b>
        <select formControlName="tipoIncapacidad" placeholder="Seleccione una opción" class="form-control"
        id="exampleFormControlInput4">
        <option value="" disabled selected>Seleccione una opción</option>
        <option value="Licencia de enfermedad">Licencia de enfermedad</option>
        <option value="Licencia de maternidad">Licencia de maternidad</option>
      </select>      
    </div>

    <div class="col-12 col-sm-6 col-md-4 my-1">
      <b class="form-group-label">DIAS DE INCAPACIDAD</b>
      <input class="form-control" formControlName="days" type="number">
    </div>
    
    <div class="col-12 col-sm-6 col-md-4 my-1">
      <b class="form-group-label">NUMERO SAC </b>
      <input class="form-control" formControlName="numsac" type="text">
    </div>


    <div class="col-12 col-sm-6 col-md-4 ">
      <b class="form-group-label">FECHA DE INCAPACIDAD</b>
      <mat-form-field appearance="outline" >
          <mat-label>Fecha</mat-label>
          <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Filtro inicio" formControlName="fechaInicio">
              <input matEndDate placeholder="Filtro fin" formControlName="fechaFin">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
  </div>

    <div class="col-12 col-sm-6 col-md-4 my-1">
      <b class="form-group-label">INCAPACIDAD DEL DOCENTE TRANSCRITA POR FOMAG</b>
      <input type="file"  #inputArchivo1 (change)="onFileChange($event, 'incapacidad')">
    </div>
      <div class="d-flex justify-content-first col-12 col-sm-6 col-md-11 ">
        <button (click)="nextStep()" class="d-flex justify-content-first " style="max-width: 90px; color: white;">Siguiente</button>

      </div>
      </div>





      <div *ngIf="step === 2" class="row">
        <h3 class="d-flex justify-content-center align-items-center">
          DATOS PROFESOR REMPLAZO
        </h3>

        <div class="col-12 col-sm-6 col-md-4 my-1">
          <b class="form-group-label">TIPO DE TRAMITE</b>
          <select formControlName="tipoTramiteRemplazo" placeholder="Seleccione una opción" class="form-control"
            id="exampleFormControlInput5">
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="Primera vez">Primera vez</option>
            <option value="Prorroga">Prorroga</option>
          </select>
        </div>

        <div class="col-12 col-sm-6 col-md-4 my-1">
          <b class="form-group-label">NOMBRE</b>
          <input class="form-control" formControlName="nombreRemplazo" type="text">
        </div>

        <div class="col-12 col-sm-6 col-md-4 ">
          <b class="form-group-label">CEDULA </b>
          <input class="form-control" formControlName="cedulaRemplazo" type="number">
        </div>

        <div class="col-12 col-sm-6 col-md-4 ">
          <b class="form-group-label">PROFESION </b>
          <input class="form-control" formControlName="profesionRemplazo" type="text">
        </div>

        <div class="col-12 col-sm-6 col-md-4 ">
          <b class="form-group-label">UNIVERSIDAD </b>
          <input class="form-control" formControlName="universidadRemplazo" type="text">
        </div>

        <div class="col-12 col-sm-6 col-md-4 ">
          <b class="form-group-label">HOJA DE VIDA DEL REEMPLAZO</b>
          <input type="file"  #inputArchivo2 (change)="onFileChange($event, 'hojaDeVida')">
        </div>

        <div class="d-flex justify-content-first col-12 col-sm-6 col-md-11 mt-2">

          <button (click)="prevStep()" style="color: white;">Atrás</button>
          <button type="button" style="color: white;" class="ajus ms-2" (click)="enviar()">
            Enviar
          </button>
        </div>
      </div>
             
            </form>
          </div>
        </div>
      </div>
    
      <footer class="main-footer d-flex justify-content-between align-items-center px-3 ">
        <div>
          <strong>
            &copy; {{year}} 
            <a href="https://www.gobernaciondelmagdalena.gov.co/">Gobernación del Magdalena</a>.
          </strong>
        </div>
        <div>
          <b>INCAPACIDADES</b>
        </div>
      </footer>
      </div>
      <!-- Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- </div> -->
