<title>Gobernación del Magdalena</title>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="d-flex justify-content-start align-items-center">
        <img src=""  alt="logo" />
      </div>
      <a class="navbar-brand mx-auto " >Secretaria de eduacion departamental</a>
    </div>
  </nav>

  <div class="container-fluid main-content" style="height: 89vh;">
    <img src="" alt="ligi" />
    <div class="inputs-container" >
      <div class="card ">
          <form  [formGroup]="myForm" class="row">
              
            <div class="col-12 col-sm-6 col-md-4 my-1">
              <b class="form-group-label">MUNICIPIO</b>
              <select  formControlName="municipio" placeholder="Seleccione una opción" class="form-control" id="exampleFormControlInput15">
                  <option value="" disabled selected>Seleccione una opción</option>
                  <option value="Funcional">Funcional</option>
                  <option value="Regular">Regular</option>
                  <option value="Mal estado">Mal estado</option>
                </select>
          </div>

              <div class="col-12 col-sm-6 col-md-4 ">
                  <b class="form-group-label">INSTITUCION EDUCATIVA</b>
                  <input class="form-control" formControlName="ied" type="text">
              </div>

              <div class="col-12 col-sm-6 col-md-4 my-1">
                  <b class="form-group-label">NOMBRE RECTOR</b>
                  <input class="form-control" formControlName="namerec" type="text">
              </div>

              <div class="col-12 col-sm-6 col-md-4 ">
                <b class="form-group-label">CEDULA RECTOR</b>
                <input class="form-control" formControlName="cedrec" type="text">
            </div>

              <div class="col-12 col-sm-6 col-md-4 my-1">
                  <b class="form-group-label">AREA EDUCATIVA CORRESPONDIENTE AL DOCENTE INCAPACITADO</b>
                  <input class="form-control" formControlName="areaed" type="text">
              </div>

              <div class="col-12 col-sm-6 col-md-4 my-1">
                  <b class="form-group-label">CORREO ELECTRONICO DE LA INSTITUCION</b>
                  <input class="form-control" formControlName="emailied" type="text">
              </div>

              <div class="col-12 col-sm-6 col-md-4 my-1">
                  <b class="form-group-label">CORREO ELECTRONICO DEL RECTOR</b>
                  <input class="form-control" formControlName="emalrec" type="text">
              </div>

              <div class="col-12 col-sm-6 col-md-4 my-1">
                  <b class="form-group-label">NUMERO DE TELEFONO INSTITUCION</b>
                  <input class="form-control" formControlName="numied" type="text">
              </div>

              <div class="col-12 col-sm-6 col-md-4 my-1">

                  <b class="form-group-label">NUMERO DE TELEFONO RECTOR </b>
                  <input class="form-control" formControlName="numrec" type="text">
              </div>
              
              <div class="col-12 col-sm-6 col-md-4 my-1">
                <b class="form-group-label">OBSERVACION</b>
                <select  formControlName="observation" placeholder="Seleccione una opción" class="form-control" id="exampleFormControlInput15">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="Funcional">Primera vez</option>
                    <option value="Regular">Prorroga</option>
                  </select>
            </div>

            <div class="col-12 col-sm-6 col-md-4 my-1">
              <b class="form-group-label">INCAPACIDAD DEL DOCENTE TRANSCRITA POR FOMAG</b>
              <input type="file" (change)="onFileChange($event, 'incapacidad')">
            </div>
            
            <!-- HOJA DE VIDA DEL REMPLAZO -->
            <div class="col-12 col-sm-6 col-md-4 my-1">
              <b class="form-group-label">HOJA DE VIDA DEL REMPLAZO</b>
              <input type="file" (change)="onFileChange($event, 'hojaDeVida')">
            </div>
              
          <div class="d-flex justify-content-first col-12 col-sm-6 col-md-11 mt-2">
              <button class="ajus " style="background-color: rgb(68, 68, 255); color:white;" (click)="enviar()" (click)="myForm.reset()"
                  >AÑADIR</button>
          </div>
      </form>
      </div>
  </div>
  </div>

  <footer>
    <div class="container">
      <strong>&copy; SED</strong>
    </div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>